<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reprodução</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Lista de Reprodução</h1>
        <form action="/download" method="POST">
            <input type="text" name="url" placeholder="URL do vídeo do YouTube">
            <button type="submit">Baixar</button>
        </form>
    </nav>
    <div class="audio-list">
        <h2>Áudios</h2>
        <ul>
            {% for audio in audios %}
            <li>
                {{ audio.title }}
                <form action="{{ url_for('play', audio_id=audio.id) }}" method="POST">
                    <button type="submit" class="play-button">Reproduzir</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear-buttons-container">
        <form action="/limpar-downloads" method="POST">
            <button type="submit" class="clear-button">Limpar Downloads</button>
        </form>
        <form action="/limpar-tabela" method="POST">
            <button type="submit" class="clear-button">Limpar Tabela</button>
        </form>
    </div>
</body>
</html>
