<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.davidsousadev">

    <!-- Internet é obrigatório para FCM -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Necessário no Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Mantém o processador ativo para receber notificações -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Garante que o serviço do Firebase reinicie após reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Usado em notificações críticas como chamadas (não obrigatório, mas recomendado) -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application 
        android:allowBackup="true" 
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher_round" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme">

        <!-- Serviço que recebe mensagens do Firebase -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity aberta via notificação -->
        <activity
            android:name=".ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="CHAT_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Activity de cadastro -->
        <activity
            android:name=".CadastroActivity"
            android:exported="true" />

        <!-- Activity de login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

    </application>
</manifest>