<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Flask</title>
</head>
<body>
    <h1>CRUD Flask</h1>
    
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <hr />
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <hr />
        <button type="submit">Add User</button>
    </form>
    
    <ul>
        {% for user in users %}
            <li>
               {{ user[0] }} - {{ user[1] }} - {{ user[2] }}
                <hr />
                <form action="/update/{{ user[0] }}" method="post">
                    <input type="text" name="name" placeholder="New name" value="{{user[1]}}">
                    <input type="email" name="email" placeholder="New email" value="{{user[2]}}">
                    <hr />
                    <button type="submit">Update</button>
                </form>
                <a href="/delete/{{ user[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
